<br><br>
<div class="row">
    <div class="col">
        <p><b>Trụ sở giao dịch tại TP.Hà Nội</b></p>
        <p>tầng 7, tòa nhà ICT, số 19 Lê Thanh Nghị, Hai Bà Trưng, Hà Nội</p>
        <i class="fas fa-phone"></i><b>Hotline: </b><button type="button" class="btn btn-link">038 3333 599</button>

    </div>
    <div class="col text-justify">
        <strong>Mua sách online chưa bao giờ dễ thế</strong>
        <p>
            Amazon.com hiện nay là ông vua bán lẻ trực tuyến khổng lồ có số lượng người bán hàng và mua hàng cực kì đông đảo, phạm vi hoạt động trên toàn thế giới,thương hiệu của họ luôn được đảm bảo bằng những dịch vụ tốt và uy tín nhất. Mọi thứ quý khách cần đều
            có thể dễ dàng tìm kiếm tại Amazon <br> Email: support@fado.vn
        </p>
    </div>
</div>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">