<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/59286078_1751376471675857_3061091026572673024_n.png?_nc_cat=102&ccb=2&_nc_sid=ae9488&_nc_ohc=7ZtGs5rxVK8AX_6LSgA&_nc_ht=scontent.fhan3-1.fna&oh=b2078debf8f52b1492b47e803c0f1be0&oe=5FF2D722&_nc_fr=fhan3c01"
            width="40px"> E-Shop</a>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="category/0">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="category/1">Food</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="category/2">Clothes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="category/3">Drink</a>
            </li>
        </ul>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <!--m left auto-->
            <li class="nav-item">
                <a class="nav-link" href="#">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/register">Sign Up</a>
            </li>
        </ul>
    </div>
</nav>